RHAPSOD_LOG_LEVEL=info
RHAPSOD_DATA_DIR=./data
RHAPSOD_TS3_HOST=127.0.0.1
RHAPSOD_TS3_PORT=9987
RHAPSOD_TS3_NICKNAME=Rhapsod
RHAPSOD_TS3_PASSWORD=
RHAPSOD_TS3_CHANNEL_ID=
RHAPSOD_TS3_CHANNEL_PASSWORD=
RHAPSOD_TS3_CHANNEL_NAME=
RHAPSOD_TS3_AUTO_CONNECT=true
RHAPSOD_YTDLP_PATH=yt-dlp
